<header >
  <div class="container">
    <div class="header-top">
      <h1>XCasts</h1>
      <a href="#">
        Sign In
      </a>
    </div>
    <nav>
      <a href="#">
        Catalog
      </a>
      <a href="#">
        Series
      </a>
      <a href="#">
        Podcasts
      </a>
      <a href="#">
        Discussions
      </a>
    </nav>
  </div>
</header>
